.content-wrapper{
	min-height: 694px;
}

.form-body{
	background-color: white;
}

.required{
	color:red;
}

.field-icon .fa {
	margin-top: 14px;
}

.warning {
  color: red;
}

.wordCount{
  width: 15%;
  float: right;
  text-align: right;
}

.frm-row .spacer-b10{
	float: left;
  width: 80%;
}

/*.fa-eye{
	color:orange;
}

.fa-eye:hover{
	color:red;
}*/

a:hover{
	cursor: pointer;
}

.alert-info {
	color:#163161;
	background-color:#cfe6fc
}

.alert-success {
	color:#000;
	background-color:rgba(72, 188, 60, 0.19);
}

.alert-warning {
	color:#c60;
	background-color:#fae7a2
}

.alert-error {
	color:#000;
	background-color: rgba(237, 172, 172, 0.25);
}

.small-box.bg-aqua .fa-eye, .small-box.bg-aqua .fa-arrow-circle-right{
	color :  white !important;
}
/* .bg-aqua{
	background-color: #3c8dbc !important;
} */

/*#tblallapps td:last-child, #tblsubmittedapps td:last-child, #tblincompleteapps td:last-child, #tblreliancejioapps td:last-child{
	display: none;
}*/

/* .que-box {
    margin: 20px 0;
    font-size: 12px;
    text-align: left;
    border: 1px solid #EAEAEA;
}
.que-notes {
    margin: 15px;
    color: #009FE9;
    font-size: 12px;
    text-align: center;
} */

.que-panel {
    border: solid 5px #D3EBF6;
    background-color: #fff;
    padding: 10px;
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
}

.que-box li {
    width: 20% !important;
}

.field-label.colm.alert{
	font-weight: normal; !important;
}