<div class="login-box">
      <div class="login-logo">
    <a href="#"><b>Perfect</b>Solusoft</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <form action="authenticate" method="POST" id="frmlogin"	name="frmlogin" ng-submit="vm.login()">
          <div class="form-group has-feedback">
            <input type="email" placeholder="Username" class="form-control" placeholder="Email" id="" ng-model="userName" name="username" required/>
            <span ng-show = "frmlogin.username.$error.required">User name is required.</span>
            <span ng-show = "frmlogin.username.$error.email">Invalid User name.</span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" id="" ng-model="password" name="password" required/>
             <span ng-show="frmlogin.password.$error.required" class="help-block">Password is required</span>
          </div>
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                <label>
                  <!-- <input type="checkbox"> Remember Me -->
                </label>
              </div>                        
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled=" frmlogin.password.$invalid || frmlogin.username.$dirty && frmlogin.username.$invalid" >Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>
        <a href="forgetpassword" class="fancybox fancybox.iframe">I forgot my password</a><br>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->